@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@300;400;500;600;700;800;900&family=Tajawal:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Tajawal', sans-serif;
    overflow-x: hidden;
    background-color: white;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(#2668db, white);
    border-radius: 8px;
}


.scrollHide::-webkit-scrollbar {
    display: none !important;
}

.scrollHide{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;  
}

/* change iamge in page color extraction */
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-preview {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.avatar-upload .avatar-preview > div {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

